<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Rest API - FanzOffc</title>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">

  <style>
    /* Custom Dark Theme */
    body.dark-theme {
      background-color: #121212;
      color: #fff;
    }

    .navbar, .sidebar, .card {
      background-color: #1e1e1e;
      border-color: #333;
    }

    .navbar-nav .nav-link {
      color: #bbb;
    }

    .navbar-nav .nav-link:hover {
      color: #fff;
    }

    .sidebar .nav-item.active > .nav-link {
      background-color: #6200ea;
      color: white;
    }

    .sidebar .nav-item .nav-link {
      color: #bbb;
    }

    .sidebar .nav-item .nav-link:hover {
      color: white;
    }

    .card-header, .card-footer {
      background-color: #333;
      color: #bbb;
    }

    .btn-primary {
      background-color: #6200ea;
      border-color: #6200ea;
    }

    .btn-primary:hover {
      background-color: #3700b3;
      border-color: #3700b3;
    }

    .dropdown-menu {
      background-color: #1c1c1c;
      color: #bbb;
    }

    .dropdown-item:hover {
      background-color: #6200ea;
      color: #fff;
    }

    .progress-bar {
      background-color: #3b82f6;
    }

    footer {
      background-color: #121212;
      color: #bbb;
    }

    .scroll-to-top {
      background-color: #6200ea;
    }
  </style>
</head>

<body id="page-top" class="dark-theme">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <img src="img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">FanzOffc's API</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-code"></i>
          <span>Beranda</span>
        </a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        API Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap" aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-fw fa-arrow-down"></i>
          <span>Social Media API</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-dark py-2 collapse-inner rounded">
            <h6 class="collapse-header">Media Features</h6>
            <a class="collapse-item text-white" href="api/tiktod/?url=MASUKIN_URL&apikey=MASUKIN_APIKEY">Tiktok Downloader</a>
            <a class="collapse-item text-white" href="api/tiktod/stalk/?username=MASUKIN_USERNAME&apikey=MASUKIN_APIKEY">Tiktok Stalk</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGithub" aria-expanded="true" aria-controls="collapseGithub">
          <i class="fas fa-fw fa-book"></i>
          <span>Random API</span>
        </a>
        <div id="collapseGithub" class="collapse" aria-labelledby="headingGithub" data-parent="#accordionSidebar">
          <div class="bg-dark py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random API</h6>
            <a class="collapse-item text-white" href="api/randomquote?apikey=MASUKIN_APIKEY">Random Quotes</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseIslamic">
          <i class="fas fa-fw fa-table"></i>
          <span>Text Maker API</span>
        </a>
        <div id="collapseIslamic" class="collapse" aria-labelledby="headingIslamic" data-parent="#accordionSidebar">
          <div class="bg-dark py-2 collapse-inner rounded">
            <h6 class="collapse-header">Text Maker API</h6>
            <a class="collapse-item text-white" href="api/textmaker?text=halo&text2=hai&theme=glitch&apikey=MASUKIN_APIKEY">Glitch</a>
            <a class="collapse-item text-white" href="api/textmaker?text=halo&text2=hai&text3=gwganteng&theme=google-suggestion&apikey=MASUKIN_APIKEY">Google Suggestion</a>
            <a class="collapse-item text-white" href="api/textmaker/game?text=halo&text2=hai&theme=pubg&apikey=MASUKIN_APIKEY">PUBG</a>
            <a class="collapse-item text-white" href="api/textmaker/game?text=halo&text2=hai&theme=battlefield&apikey=MASUKIN_APIKEY">BattleField</a>
            <a class="collapse-item text-white" href="api/textmaker/senja?text=FanzOffc&theme=coffee-cup&apikey=MASUKIN_APIKEY">Coffee Cup</a>
            <a class="collapse-item text-white" href="api/textmaker/senja?text=FanzOffc&theme=coffee-cup2&apikey=MASUKIN_APIKEY">Coffee Cup 2</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseother" aria-expanded="true" aria-controls="collapseother">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Other API</span>
        </a>
        <div id="collapseother" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">
          <div class="bg-dark py-2 collapse-inner rounded">
            <h6 class="collapse-header">Other Menu</h6>
            <a class="collapse-item text-white" href="api/nulis?text=Fanz&apikey=MASUKAN_APIKEY">Nulis Buku</a>
            <a class="collapse-item text-white" href="api/infonpm?query=FanzOffc-api&hostname=FanzOffc&apikey=MASUKAN_APIKEY">Info NPM</a>
            <a class="collapse-item text-white" href="api/short/tiny?url=google.com&apikey=MASUKAN_APIKEY">Short Link</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider">
    </ul>
    <!-- Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-dark border-1 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Page Content -->
        <div class="container-fluid">
          <!-- Main content goes here -->
        </div>
        <!-- Page Content -->
      </div>
    </div>
  </div>

  <button id="dark-mode-toggle" class="btn btn-secondary position-fixed bottom-0 right-0 m-3">Toggle Dark Mode</button>

  <script>
    document.getElementById('dark-mode-toggle').addEventListener('click', function () {
      document.body.classList.toggle('dark-theme');
    });
  </script>

</body>

</html>
